.country{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.country-visited{
    background-color: aquamarine;
}